
body{
    color:#a52a2a}
body{font-style:initial;
    font-size: large; 
    background-color:burlywood;
    font-weight: bold;}
.Dark green{color:#074507}





h1, h2,h3
    {color:maroon;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif} 