body {
    color:#a52a2a}
body{font-style:initial;
    font-size: large; 
    background-color:burlywood;
    font-weight: bold;}
.Dark green{color:#074507}

</style>

<style> h1 {color:maroon;font-size: larger;} </style>
<style> h2 {color:maroon;font-size: larger;}</style>
<style> h3 {color:maroon;font-size: larger;}</style>

