body{
    background-image: linear-gradient(#3c4767, #fff);
    background-repeat: no-repeat;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    color: #3c4767;
}

h2, h3 {
    margin-top: 40px;
    margin-bottom: 0px;
}

p, li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
}

p {
    margin-bottom: 0px;
}

p + p {
    margin: 0px;
}

ol li a {
    color: #e3ba9e;
}

.bold {
    font-weight: bold;
}

a {
    color: rgb(43, 43, 232);
}

a:visited {
    color: grey;
}

div#wrapper {
    background-color: #fff;
    max-width: 960px; 
    min-height: 800px;
    margin: 20px auto;
    padding: 10px;
    border: solid #3c4767 2px;
    border-radius: 12px;
}

div.inner-wrapper {
    width: 90%;
    margin: auto;
    text-align: center;
}

div#navigation {
    text-align: center;
    margin: -12px auto auto auto;
    border: solid #3c4767 2px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #3c4767;
    opacity: .88;
    width: 350px;
    height: 30px;
    padding: 10px 0 0 0;
}

div#navigation a {
    display: inline-block;
    width: 80px;
    text-decoration: none;
}

div#navigation a#active_tab {
    background-color: #fff;
    border-radius: 24px;
    font-weight: bold;
    color: #000;
}

div.inner-wrapper ul,
div.inner-wrapper ol {
    text-align: left;
    width: 70%;
    margin: auto;
}

div.inner-wrapper ul {
    width: 50%;
}