body{ 
    color: #00ff00; 
    font-size: large;
    font-weight: bolder;
background-color: #5f9a5f; 
} 

div p { color:black}

#about_me p { 
    color: yellowgreen;
margin-bottom: 200px;
}

.par-pink {
    color: #fe4cfe;
}

#pinkpar { color: #fe4c00!important}