body{ 
    color: #00ff00; 
    font-size: large;
    font-weight: bolder;
background-color: #5f9a5f; 
margin: 0;
padding: 0;
} 

div p { color:black
}

#about_me p { 
    color: yellowgreen;
margin-bottom: 200px;
}

.par-pink {
    color: #fe4cfe;
}

#pinkpar { color: #fe4c00!important}

#image_container{
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}
/*img {
    float: left;
    margin-left: 40px;
    margin-right: 40px;
}*/

/*h2{
    clear: both;
}*/

#see_achievements {
    clear: both;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: inline-block;
    width: 100;
    height: 100;
}

.logo img{
    width: 100%;
    height: 100%;
}

.nav_links {
    display: flex;
    list-style-type: none;
}

.nav_links a {
    padding: 20px 15px;
    display: inline-block;
}

#navigation {
    margin-bottom: 15px;
}
/*allow navigation bar on small browsers to display as centered logo on top, followed by centered navigation links*/
@media(max-width: 650px) {
    nav{ 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        display: inline-block;
        width: 200;
        height: 200;
    }
    
}
    