
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
   /* color: #333;
    background-color: #FFE5B4;
    line-height: 2.0;
    margin-bottom: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    Test Freeze contents

    overflow: hidden;
    height: 100vh;
*/

}



.header {
    background-color: #575656;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: white;
    overflow: hidden;
}

.banner-image {
    width: 100%; /* Make the image fill the width of its container */
    height: auto; /* Maintain the image's aspect ratio while resizing */
    display: block; /* Remove any potential gaps below the image */
    max-width: 100%; /* Ensure the image doesn't overflow on small screens */

}

/* Container for flexboxes */
.section {
    display: -webkit-flex;
    display: flex;
  }

/* Create two columns/boxes that floats next to each other */
.nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #5053f87c;
    color: #c5dd9e;
    text-decoration: none;
  }
  
  /* Style the list inside the menu */
.nav ul {
    font-size: 30px;
    list-style-type: none;
    
    text-decoration: none;
    padding: 0;
  }

  .nav a:hover {
    text-decoration: underline;
  }
  
.img {
    float: left;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.img img {
    border-radius: 30%;
    box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.2);
}

.article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 20px;
    background-color: #cdf0a6;
  }
  


.footer {
    background-color: #584c4c;
    padding: 20px 0;
    text-align: center;
    color: #e7d9d9;
    font-size: 24px;  
    text-decoration: none; 
}



/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    .section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .img img {
        display: none;
    }

    .nav {
        display: flex; /* Use flexbox to create a horizontal layout */
        background: #5053f87c;
        color: #c5dd9e;
        text-decoration: none;
        align-items: center; /* Vertically center the content within the container */
        text-align: center;
    }
    
    .nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex; /* Display list items horizontally */
    }
    
    .nav li {
        margin-right: 20px; /* Add spacing between list items */
    }
    
    .nav a {
        text-decoration: none;
        color: #c5dd9e;
        font-size: 16px; /* Adjust font size as needed */
    }
    
    .nav a:hover {
        text-decoration: underline;
    }
}

h2{
    clear: both;
}
h1, h2{
    text-decoration: underline overline;
    margin-bottom: 5px;
    margin-top: 50px;
    color: #2804f7;
    text-align: center;
}