body{
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    background-color: #cbc8c8;
    font-family:"Times New Roman";
}

div p {color: #035a64;}

#about_me p {
    color: #820368c1;
    margin-bottom: 20px;
}

.par-brown {
    color: #a52a2a;
} 

#parbrown {color: #a52a2a}

#navigation
{
text-align: center;
font-size: large;
font-weight: bold;
font-family: 'Times New Roman', Times, serif;
}

#firstp::first-letter {
    float: left; 
    font-size: 36px;
    line-height: 0.10;
    clear: left; /*Clear the float after the first letter*/
}

 #links {
    width: 300px;
    float: left;
    background-color: #ffe4c4;
    margin-left: 10px;
    padding: 0px;
    border: 5px outset #bb04bb;
}
 
 #links a:link {
    text-decoration: none;
    color: #2507be;
}
 #links a:visited {
    text-decoration: none;
    color: #ff0000;
}
 #links a:hover {
    color:#08a956;
    text-decoration: underline;
}
 #links a:active {
    text-decoration: none;
}
 