body{
    color: #000000;
    font-size: normal;
    font-weight: normal;
    background-color: #cbc8c8;
    font-family:"Times New Roman";

}

div p {color: #035a64;}

#about_me p {
    color: #820368c1;
    margin-bottom: 40px;
}

.par-brown {
    color: #a52a2a;
} 

#parbrown {color: #a52a2a!important}
    
#box {width: 200px; float: left; background-color: #ecddc9; margin: 5px 0 5px 5px; border: 5px outset #bb04bb;}
#box h2 {text-align: center}
#box ul {list-style-type: circle; margin-left: 10px; padding-left: 0px}
#box li {font-family: 'Times New Roman'; font-size: 8pt;}

 #links {width: 200px; float: left; background-color: bisque; margin-right: 10px; padding: 0px; border: 5px outset #bb04bb}
 #links h3 {text-align: center;}
 #links a:link {text-decoration: #420fcf}
 #links a:visited {text-decoration: red}
 #links a:hover {color:#10bc1e; text-decoration: underline}
 #links a:active {text-decoration: #420fcf}
 