body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*.Welcome Back img {
    max-width: 70%;
    justify-content: center;
}


Welcome {
    display: flex;
    justify-content: center;
}


.Greatness quote img {
    max-width: 30%;
    justify-content: left;
}


.Greatness quote {
    display: flex;
}




Rewards icon {
    display: flex;
}
*/


/* Secondary section*/

.Secondary section {
    padding: 80px 0 80px;
}

.Secondary section .section {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 60%;
    text-align: center;
}

.section-title .Greatness quote img {
    max-width: 280%;
    width: 50%;
}

.section-title .Rewards icon img {
    max-width: 280%;
    width: 50%;
}


.main_container {
    display: flex;
    justify-content: space-between;
    /*grid: auto*/
    ;
    /*flex-direction: row*/
    ;
    /*flex-wrap: wrap*/
    ;
    border: 1px;
    background: grey;
    padding: none;


}

.main_container_inner_left {
    justify-content: space-between;
    padding-right: 100px;
    width: 30%;

}



.main_container_inner_right {
    justify-content: space-between;



}

.container div {
    padding: 10px;
    border: 1px solid #000000;
}


h2 {
    clear: both;
}

h3 {
    clear: both;
}


/* allow navigation bars on small browsers to display as centered logo on top, followed by centered navigation links */
@media(max-width: 650px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}