body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.Welcome Back img {
    max-width: 70%;
    justify-content: center;
}


Welcome {
    display: flex;
    justify-content: center;
}


.Greatness img {
    max-width: 30%;
    justify-content: right;
}


Greatness {
    display: flex;
}

.Rewards img {
    max-width: 20%;
    justify-content: left;
}


Rewards {
    display: flex;
}



.main_container {
    display: flex;
    justify-content: center;
    /*grid: auto*/;
    /*flex-direction: row*/;
    /*flex-wrap: wrap*/;
    border: 10px;
    background: grey;
    padding: 50px;
    margin: 95%;

}

.main_container_inner_left {
    display: flex;
    width: 40%;
    /*justify-content: space-around;*/
    padding-right: 20px;
    flex-direction: row;
    text-align: left;

}



.main_container_inner_right {
    display: flex;
    /*justify-content: space-around;*/
    flex-direction: row;
    width: 20%;
    text-align: right;

}




h2 {
    clear: both;
}

h3 {
    clear: both;
}

/* allow navigation bars on small browsers to display as centered logo on top, followed by centered navigation links */
@media(max-width: 650px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}