body {
    color: #0000ff;
    font-size: large;
    font-weight: bold;
    background-color: floralwhite;
}

div p {color: black;}

#about_me p {color: blue;}

.par-pink {
    color: #fe4cff;
}

#pinkpar {color: #fe4cff!important;}