body {
    color: #00ff00;
    font-size: large;
    font-weight: bold;
    background-color: grey;
}

div p {color: black;}

#about_me p {color: blue;}

.par-pink {
    color: #fe4cff;
}

#pinkpar {color: #fe4cff !important;}
#img_container {
    float: left;
    margin-left: 35px;
    margin-right: 35px;
}
h2 {
    clear:both;
}