body {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    background-color: #cbc8c8;
    font-family: "Times New Roman";
    margin: 0;
    padding: 0px;
    border: 0px;
}

header {
    background-color: #925a90;
    text-align: center;
    padding: 0px;
}

.logo {
    display: inline-block;
    width: 150px;
    height: 150px;
}

.logo img {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

nav {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#navigation {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

#nav a:link {
    text-decoration: none;
    color: blue;
    width: 135px;
    float: inline-end;
    background-color: 0;
    margin-left: 10px;
    padding: 0px;
    border: 0px;
}

#nav a:visited {
    text-decoration: none;
    color: #ff0000;
}

#nav a:hover {
    color: #08a956;
    text-decoration: underline;
}

#nav a:active {
    text-decoration: none;
}

.nav_links {
    display: flex;
    list-style-type: none;
}

.nav_links a {
    padding: 20px 15px;
    display: inline-block;
}

#navigation {
    margin-bottom: 15px;
}

#image_container {
    float: center;
    height: 100%;
    width: 100%;
}  

h1 {
    clear: both;
    position: center;
    left: 100px;
    bottom: 100px;
    color: #2507be;
    text-align: center;
}

#introduction {
    float: left;
    font-size: 36px;
    /*line-height: 0.10;*/
    clear: left;
}
.column {
    float: center;
    width:25%;
}

.video_gallery {
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/*allows navigation bar on small browsers to display as centered logo on top, followed by centered navigation links*/
@media(max-width: 650px) {
    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 200px;
        height: 200px;
    }
}

 /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
 @media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
    
footer {
    background-color: #925a90;
    text-align: left;
    padding: 10px;
}
