
body{
    color:#a52a2a

}



body{font-style:initial;                         
    font-weight:bold;
    font-size: medium; 
    background-color:burlywood;
    padding: top 60px;;


    
 }


.Dark green{color:#074507

}



h1, h2,h3
    {color:maroon;
    font-size:medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana,}

#NAVIGATION { 
   color: maroon;
    font-size: 20px;
    float: right;
    margin-right: 20px;
    z-index: index 9999;
}


    
.logo{ color: #003300;
font-size:30px;
line-height:1px;
padding: 2px;
font-weight:bold;
position:absolute;
top: 3px;left: 24pt;}


 

    
    
    









    
    