
body{
    color:#a52a2a

}



p{font-style:initial;
    font-size: large; 
    background-color:burlywood;
    font-weight: bold;
 }
p{border-style: outset; 
    border-width: 5px;
    padding: 20px;
border:4px rgb(5, 43, 5);
border: radius 10px;
}

.Dark green{color:#074507

}

#About Me {padding:20px;}

h1, h2,h3
    {color:maroon;
    font-size: larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-;
padding:20px;
}
    