* {
    box-sizing: border-box;
}

body{
    text-align: center;
    justify-content: center;
    background-image: url('../img2/winter-nature-season-trees-66284.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    padding: 0;
    margin: 0;
}

.bodychris{ 
    background-size: cover;
    background-image: url(../img2/chrisb.jpeg); 
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    
}


.img{
    background-image: url(../img2/chrisb.jpeg);  
    opacity: 0.2;
}

#audio_container{
padding: 1.5%;
text-align: center;

}

#img_container{
    text-align: center;
    padding: 2%;
    
}

h2{
    clear: both;
    color: #3d0c5f;
}

ul{
    display: inline-block;
    text-align: left;
    margin-top: 0;
    font-size: small;
   
}

p{
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0;  
    
}

.col_1{
    width: 100%;
border-style: groove;
background-color: rgba(52, 51, 51, 0.412);
}

.col_2{
    width: 100%;
    border-style: groove;
    background-color: rgba(52, 51, 51, 0.412);
}

#colflex_1{
    display: flex;
    flex-direction: row;
    float: left;
    width: 50%;

}

#colflex_2{
    display: flex;
    flex-direction: row;
    width: 50%;

}


/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    */
       /* .light-web{
            width: 100%;
            height: 100vh;
            background-image: url('../img2/light-web.jpg');
            position: relative;
            padding: 0 5%;
            display: flex;
            align-items: center;
            justify-content: center;
        
        }
        */
    .alyboo {
        color: brown;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-transform: capitalize; 
        text-align: center;
        font-size: larger;
        padding: 10px;
    }
    
    .navigation {
        text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
    }
    .navigation a:hover {
        color: hwb(148 2% 51%);
        text-decoration: none;
    }
/*
    .navigation a:visited {
    color: rgb(130, 12, 88);
        text-decoration: none;
    }
    */


    .navigation a:active {
        color: rgb(175, 167, 20);
        text-decoration: none;
    }


    h1, h3{
        color: #3d0c5f;
        font-size: 30px;
        text-align: center;
        text-transform: capitalize;
    }

    #nav_style{
        text-decoration: none;
    }
    nav{
        width:100%;
        display: flex; 
        justify-content: space-between;
        flex-direction: row;
        background-color: #a8abaa57;
        
            /* this is done by default*/
    }

    .logo{
        display: inline-block;
        width: 200px;
        height: 200px;
     }

     .logo img {
        width: 100%;
        height: 100%;
     }

     .nav_links{
        display: flex;
        list-style-type: none;
        align-items: center;
        
     }

     .nav_links a {
        padding: 20px 15px;
     }

     .navigation{
        margin-bottom: 15px;
     }

     @media(max-width: 600px) {
        nav {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
      

     }

     footer{
        position: sticky;
        top: 100vh;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #a8abaa57;
        height: 200px;
        font-family: sans-serif;
       
     }
     .footer_content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;

     }