
body{ color:blue;
    font-size:small;
    font-weight:lighter;
    background-color: rgb(151, 173, 68);
}

h1{
    color:aqua;
    font-size: 70;
}

p{
    color:blueviolet;
    font-size:60;
}
#about_me p {
color:aquamarine
}

img{
    float: left;
    padding: 20px;
}

img_container{
    float:left;
    margin-left:6px;
    margin-right:6px;

}

h2{
    clear:both
}
favicon{
    color:aqua
}