body {
    color: rgb(124, 128, 0);
    font-size: x-large;
    font-weight: bold;
    background-color: rgb(11, 11, 11);
}

div p { color: black;}
#about_me p { color: blue;}

.par-pink {
    color: rgb(190, 33, 140)
}
#pinkpar {color: rgb(165, 28, 108)!important}