body{
    font-size: larger;
    font-style: normal;
    background-color: beige;
    color: green;
}
div p {color: blueviolet;} 
#about_me p {color: black;}

#img_container {
    float:left;
    margin-left: 35px;
    margin-right: 35px;
}

/* img {
    float: left;
} */

h2 {
    clear: both;
}
#See_Achievements Below {
    clear:both;
}