body{
 body {
        color:brown;
        font-size:x-large;
        font-weight: bold;
        background-color: grey;
        margin: 0;
        padding: 0;
    }
    div p {color: black;}

    #about_me p {color: blue;}
    
    .par-pink {color:aquamarine;}
    #acquamarine {color:aquamarine!important}
}
