body{
    color: #33363D;
    font-size:x-large;
    font-weight: bold;
    background-color: #F0EDE5;
    margin: 0;
    padding: 0;
}
div p {color: black;}
#about_me p {color: blue;}
.par-pink {color: #4157A2;}
 {color:#4157A2!important}

#img_container {
    float: left;
    margin-left: 35px;
    Margin-right: 35px;
}

h2 {
    clear: both;
}